pandas
numpy
fastapi
uvicorn
torch
transformers==4.43.4
sentence-transformers==2.7.0
peft==0.11.1
faiss-cpu
sacrebleu
bert-score
pydantic
langchain
datasets
scikit-learn
accelerate
sacremoses
sentencepiece
optimum[onnxruntime]